@model AnnounceEditModel
@{
    ViewData["Title"] = "创建公告";
}

<div class="container mt-2">
    <div class="row">
        <div class="col">
            <nav class="mt-2">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">首页</a></li>
                    <li class="breadcrumb-item active">发布公告</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" autocomplete="off" id="form">
                <input type="hidden" asp-for="Id" />
                <div class="card">
                    <div class="card-header bg-light-blue">发布公告</div>
                    <div class="card-body">
                        <div class="form-group form-row">
                            <div class="input-group">
                                <input type="text" asp-for="Title" class="form-control" placeholder="标题" />
                                <div class="invalid-feedback d-block">
                                    <span asp-validation-for="Title"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group bg-white">
                            <textarea asp-for="Content" class="form-control" placeholder="公告内容"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card mt-2">
                            <div class="card-footer">
                                <button class="btn btn-primary" id="btn-publish" type="button">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



@section js{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/assets/tinymce/tinymce.min.js"></script>

    <script>
        $(function () {
            DomHelper.setTinymce("#Content",300);
            let formDom = document.getElementById("form");
            $("#btn-publish").click(function () {
                $("#btn-publish").attr("disabled", "true");
                $("#btn-publish").html(`<span class="spinner-border spinner-border-sm" role="status"></span> 正在提交...`);
                tinyMCE.triggerSave();
                AjaxHelper.postForm('@Url.Action("CreateAnnounce")', formDom).done(function (result) {
                    if (result.Success) {
                        DialogHelper.showSuccess(result.Message, function () {
                            window.location.href = result.Context;
                        })
                    } else {
                        AjaxHelper.showFormError(formDom, result);
                    }
                    return false;
                }).always(function () {
                    $("#btn-publish").removeAttr("disabled");
                    $("#btn-publish").text("提交");
                });
            })
        });
    </script>
}