//$blue: #3d98e2 !default;
//$indigo: #6610f2 !default;
//$purple: #6f42c1 !default;
//$pink: #e83e8c !default;
//$red: #EC407A !default;
//$orange: #fd7e14 !default;
//$yellow: #ffc107 !default;
//$green: #4CAF50 !default;
//$teal: #20c997 !default;
//$cyan: #17a2b8 !default;
//$secondary: #E9ECEF !default;
$link-hover-decoration:none !default; //去掉手风琴链接的下划线
$custom-file-text: ( en: "Browse") !default;
// $card-spacer-y:  .1rem !default; //card组件head头高度
//表格
$table-cell-padding: .5rem !default;
$table-head-bg: #fff !default;
// $table-head-color: #909399 !default;

//网站默认背景色
$site-background-color:#f2f3f8 !default;

$enable-shadows:true;

// $primary-color: #009688;
$sidebar-width: 250px;

$text-muted :#b3b2b2 !default;

/*$navbar-padding-y:0 !default;
$navbar-padding-x:0 !default;*/
