
@{
    ViewData["Title"] = "后台管理";
}

<div class="container-fluid">
    <vc:statistics></vc:statistics>
    <vc:register-chart></vc:register-chart>
</div>

@section js{
    <script src="~/assets/chartjs/Chart.min.js"></script>
}