@model NewAnnounceComponentModel

@if (Model.postViews != null && Model.postViews.Count > 0)
{
    <div class="card mb-2 border-0 shadow-sm">
        <div class="card-header bg-white border-bottom">
            最新公告
        </div>
        <ul class="list-group">
            @foreach (var item in Model.postViews)
            {
                <li class="list-group-item border-0">
                    <a asp-controller="Article" asp-action="Details" asp-route-id="@item.Id" class="text-secondary">@item.Title</a>
                </li>
            }
        </ul>
    </div>
}
