
@{
    ViewData["Title"] = "编辑内容";
}

<div class="container mt-2">
    <div class="row">
        <div class="col">
            <nav class="mt-2">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">首页</a></li>
                    <li class="breadcrumb-item active">分享经验</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">            
            <form method="post" autocomplete="off">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span class="input-group-text">标题</span>
                                    </div>
                                    <input class="form-control" type="text" name="name" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </form>
        </div>
    </div>
</div>



